.ui-anim-btn {
  --padding: 4px;
  --radius: 24px;
  --transition: 0.4s;
  --highlight: hsl(var(--highlight-hue), 100%, 70%);
  --highlight-50: hsla(var(--highlight-hue), 100%, 70%, 0.5);
  --highlight-30: hsla(var(--highlight-hue), 100%, 70%, 0.3);
  --highlight-20: hsla(var(--highlight-hue), 100%, 70%, 0.2);
  --highlight-80: hsla(var(--highlight-hue), 100%, 70%, 0.8);
}

.ui-anim-btn::before {
  content: "";
  position: absolute;
  top: calc(0px - var(--padding));
  left: calc(0px - var(--padding));
  width: calc(100% + var(--padding) * 2);
  height: calc(100% + var(--padding) * 2);
  border-radius: calc(var(--radius) + var(--padding));
  pointer-events: none;
  background-image: linear-gradient(0deg, #0004, #000a);
  z-index: -1;
  transition: box-shadow var(--transition), filter var(--transition);
  box-shadow:
    0 -8px 8px -6px #0000 inset,
    0 -16px 16px -8px #00000000 inset,
    1px 1px 1px #fff2,
    2px 2px 2px #fff1,
    -1px -1px 1px #0002,
    -2px -2px 2px #0001;
}

.ui-anim-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  background-image: linear-gradient(0deg, #fff, var(--highlight), var(--highlight-50), 8%, transparent);
  background-position: 0 0;
  opacity: 0;
  transition: opacity var(--transition), filter var(--transition);
}

.ui-anim-btn-svg {
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.6));
  animation: ui-flicker 2s linear infinite;
  animation-delay: 0.5s;
}

@keyframes ui-flicker {
  50% {
    opacity: 0.5;
  }
}

/* Hover */
.ui-anim-btn:hover {
  border-color: hsla(var(--highlight-hue), 100%, 80%, 0.4);
  background: linear-gradient(135deg,
    hsla(var(--highlight-hue), 80%, 60%, 0.1),
    hsla(var(--highlight-hue), 80%, 40%, 0.2)
  );
}

.ui-anim-btn:hover::before {
  box-shadow:
    0 -8px 8px -6px #fffa inset,
    0 -16px 16px -8px var(--highlight-30) inset,
    1px 1px 1px #fff2,
    2px 2px 2px #fff1,
    -1px -1px 1px #0002,
    -2px -2px 2px #0001;
}

.ui-anim-btn:hover::after {
  opacity: 0.6;
  mask-image: linear-gradient(0deg, #fff, transparent);
}

.ui-anim-btn:hover .ui-anim-btn-svg {
  filter:
    drop-shadow(0 0 3px var(--highlight))
    drop-shadow(0 -4px 6px #0009);
  animation: none;
}

/* Active */
.ui-anim-btn:active {
  border-color: hsla(var(--highlight-hue), 100%, 80%, 0.7);
  background-color: hsla(var(--highlight-hue), 50%, 20%, 0.5);
  transform: scale(0.98);
}

.ui-anim-btn:active::before {
  box-shadow:
    0 -8px 12px -6px #fffa inset,
    0 -16px 16px -8px var(--highlight-80) inset,
    1px 1px 1px #fff4,
    2px 2px 2px #fff2,
    -1px -1px 1px #0002,
    -2px -2px 2px #0001;
}

.ui-anim-btn:active::after {
  opacity: 1;
  mask-image: linear-gradient(0deg, #fff, transparent);
  filter: brightness(200%);
}

/* Disabled */
.ui-anim-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.ui-anim-btn:disabled .ui-anim-btn-svg {
  animation: none;
}
